.maincontent {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: start;
    grid-template-areas:
      "Photo"
      "nomphoto"
      "liennomphoto"
      "ID"
      "IDbutton";
  }
  
  .Photo { grid-area: Photo; }
  
  .nomphoto { grid-area: nomphoto; }
  
  .liennomphoto { grid-area: liennomphoto; }
  
  .ID { grid-area: ID; }
  
  .IDbutton { grid-area: IDbutton; }

  
  
  
  .headtitle {  display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: start;
    grid-template-areas:
      "nametitle"
      "titlebuttons"
      "biblio";
  }
  .nametitle { grid-area: nametitle; }
  
  .titlebuttons { grid-area: titlebuttons; }
  
  .biblio { grid-area: biblio; }

  .ssfont{
    font-size: 14px;
    font-family: sans-serif;  }


  h1{
font-size: 31.25px;
font-style: bold;
margin-bottom: 10px;
margin-top: 25px ;
  }
  h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 7px;

  }
  h3{
color: #b7b7b7;
font-style: italic;
font-size:12px;
margin-bottom: 0;

  }
  h4{
    margin-top: 5px;
  }
  .all{
    border: solid 1px #dddddd;
    margin-left: 25px;
    padding-left: 25px;
    margin-right: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
.interlinks{
    border: solid 1px #dddddd;
    margin-left: 25px;
    padding-left: 25px;
    margin-right: 25px;
    padding-right: 25px;
}

#input{
    color: #12439c;
    font-weight: bold;
margin-right: 15px;
background-color: white;
border: solid 1px #dddddd;
border-radius: 5px;
padding: 7px 7px 7px 7px;
}
.IDmain{
margin-left: 15%;
margin-right: 15%;
border: solid 1px #dddddd;

}
img{
    max-width : 70%;
height : auto;
margin-left: 15%;
margin-right: 15%;
margin-top: 10px;
}
.descriid{
    margin-left: 15%;
margin-right: 15%;
}
.liennomphoto{
    text-align: center;
    color: #12439c;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 15px;
font-size: 12.80px;
}
hr {
    border: solid 1px #dddddd;
}
.IDbutton{
    text-align: center;
    margin-top: 5px;
margin-bottom: 20px;
}
.ID{
    text-align: justify;}
.description{
    font-size: 18px;
text-align: justify;
}

#material-icons{
    color: #12439c;
    font-size: 15px;
    vertical-align: text-top;
}
  a{
    text-decoration : none;
  }
  @media screen and (max-width: 800px) {
    .maincontent {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "IDdmain"
          "txtmain";
          justify-content: start; 
align-content: start; 
justify-items: start; 
align-items: start; 
      }
      
      .IDdmain { grid-area: iddmain; }
      
      .txtmain { grid-area: txtmain; }
    
      
    .ssfont{
        font-size: 14px;
        font-family: sans-serif;  }
      h1{
    font-size: 31.25px;
    font-style: bold;
    margin-bottom: 10px;
    margin-top: 25px ;
      }
      h2{
        font-size: 20px;
        font-weight: normal;
        margin-top: 7px;
    
      }
      h3{
    color: #b7b7b7;
    font-style: italic;
    font-size:12px;
    margin-bottom: 0;
    
      }
      h4{
        margin-top: 5px;
      }
      .all{
        border: solid 1px #fff;
        margin-left: 25px;
        padding-left: 0;
        margin-right: 25px;
        padding-right: 0;
        margin-left: 20px;
        margin-right: 20px;
      }
    .interlinks{
        border: solid 1px #FFF;
        margin-left: 0;
        padding-left: 0px;
        margin-right: 0;
        padding-right: 0;
    }
    
    #input{
        color: #12439c;
        font-weight: bold;
    margin-right: 15px;
    background-color: white;
    border: solid 1px #dddddd;
    border-radius: 5px;
    padding: 7px 7px 7px 7px;
    }
    .IDmain{
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px #dddddd;
    
    }
    img{
        max-width : 70%;
    height : auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    }
    .descriid{
        margin-left: 15%;
    margin-right: 15%;
    }
    .liennomphoto{
        text-align: center;
        color: #12439c;
        font-weight: bold;
        font-family: sans-serif;
        margin-right: 15px;
    font-size: 12.80px;
    }
    hr {
        border: solid 1px #dddddd;
    }
    .IDbutton{
        text-align: center;
        margin-top: 5px;
    margin-bottom: 20px;
    }
    .ID{text-align: justify;}
    .description{
        font-size: 18px;
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;

    }
   #material-icons{
        color: #12439c;
        font-size: 15px;
        vertical-align: text-top;
    }
}
a{
    text-decoration : none;
    color: #12439c;

  }